*.sw[nop]
*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/cups-pk-helper-mechanism
src/cups-pk-helper-mechanism-glue.h
src/org.opensuse.CupsPkHelper.Mechanism.service
src/org.opensuse.cupspkhelper.mechanism.policy
src/test-cups
src/test-cups-pk
stamp-h1
